<nav class="png-sidebar" aria-label="Pits n' Giggles navigation">
  <a class="png-sidebar-brand" href="/" title="Pits n' Giggles home">
    <img class="png-sidebar-logo" src="/logo.png" alt="Pits n' Giggles">
  </a>
  <div class="png-sidebar-links">
    <a class="png-sidebar-link{% if active_page == 'home' %} png-sidebar-link-active{% endif %}" href="/" title="Home">
      <span class="png-sidebar-icon">🏠</span>
      <span class="png-sidebar-label">Home</span>
    </a>
    <a class="png-sidebar-link{% if active_page == 'live' %} png-sidebar-link-active{% endif %}" href="/live" title="Live Dashboard">
      <span class="png-sidebar-icon">🏎️</span>
      <span class="png-sidebar-label">Live</span>
    </a>
    <a class="png-sidebar-link{% if active_page == 'eng-view' %} png-sidebar-link-active{% endif %}" href="/eng-view" title="Engineer View">
      <span class="png-sidebar-icon">🔧</span>
      <span class="png-sidebar-label">Eng</span>
    </a>
    <a class="png-sidebar-link{% if active_page == 'save-viewer' %} png-sidebar-link-active{% endif %}" href="/save-viewer/" title="Save Viewer">
      <span class="png-sidebar-icon">💾</span>
      <span class="png-sidebar-label">Saves</span>
    </a>
  </div>
  <button type="button" class="png-sidebar-toggle" title="Collapse sidebar" aria-expanded="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
         class="png-sidebar-toggle-icon png-sidebar-toggle-icon-collapse" aria-hidden="true">
      <path fill-rule="evenodd" d="M11.854 3.146a.5.5 0 0 1 0 .708L8.207 7.5l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
         class="png-sidebar-toggle-icon png-sidebar-toggle-icon-expand" aria-hidden="true">
      <path fill-rule="evenodd" d="M4.146 3.146a.5.5 0 0 0 0 .708L7.793 7.5l-3.647 3.646a.5.5 0 1 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
    </svg>
  </button>
</nav>
