colorama==0.4.6
deepdiff==8.0.1
Flask_Cors==4.0.0
Flask_SocketIO==5.3.6
prettytable==3.12.0
pyinstaller==6.11.0
pytest==8.3.3
readerwriterlock==1.0.9
tqdm==4.66.2
traitlets==5.14.3
gevent==24.10.3
gevent-websocket==0.10.1
scikit-learn==1.5.2
