aiofiles==24.1.0 ; python_version >= "3.12" and python_version < "3.14"
altgraph==0.17.4 ; python_version >= "3.12" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.14"
bidict==0.23.1 ; python_version >= "3.12" and python_version < "3.14"
blinker==1.9.0 ; python_version >= "3.12" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation == "CPython" and sys_platform == "win32"
click==8.1.8 ; python_version >= "3.12" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.14"
flask-socketio==5.5.1 ; python_version >= "3.12" and python_version < "3.14"
flask==3.1.0 ; python_version >= "3.12" and python_version < "3.14"
gevent==24.11.1 ; python_version >= "3.12" and python_version < "3.14"
greenlet==3.1.1 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation == "CPython"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.14"
h2==4.2.0 ; python_version >= "3.12" and python_version < "3.14"
hpack==4.1.0 ; python_version >= "3.12" and python_version < "3.14"
hypercorn==0.17.3 ; python_version >= "3.12" and python_version < "3.14"
hyperframe==6.1.0 ; python_version >= "3.12" and python_version < "3.14"
iniconfig==2.1.0 ; python_version >= "3.12" and python_version < "3.14"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.14"
macholib==1.16.3 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "darwin"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.12" and python_version < "3.14"
pefile==2023.2.7 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32"
pillow==11.2.1 ; python_version >= "3.12" and python_version < "3.14"
priority==2.0.0 ; python_version >= "3.12" and python_version < "3.14"
psutil==7.0.0 ; python_version >= "3.12" and python_version < "3.14"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.14" and platform_python_implementation == "CPython" and sys_platform == "win32"
pydantic-core==2.33.2 ; python_version >= "3.12" and python_version < "3.14"
pydantic==2.11.5 ; python_version >= "3.12" and python_version < "3.14"
pyinstaller-hooks-contrib==2025.2 ; python_version >= "3.12" and python_version < "3.14"
pyinstaller==6.12.0 ; python_version >= "3.12" and python_version < "3.14"
python-engineio==4.11.2 ; python_version >= "3.12" and python_version < "3.14"
python-socketio==5.12.1 ; python_version >= "3.12" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and python_version < "3.14" and sys_platform == "win32"
quart==0.20.0 ; python_version >= "3.12" and python_version < "3.14"
setuptools==78.1.0 ; python_version >= "3.12" and python_version < "3.14"
simple-websocket==1.1.0 ; python_version >= "3.12" and python_version < "3.14"
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "3.14"
typing-inspection==0.4.1 ; python_version >= "3.12" and python_version < "3.14"
uvicorn==0.35.0 ; python_version >= "3.12" and python_version < "3.14"
werkzeug==3.1.3 ; python_version >= "3.12" and python_version < "3.14"
wsproto==1.2.0 ; python_version >= "3.12" and python_version < "3.14"
zope-event==5.0 ; python_version >= "3.12" and python_version < "3.14"
zope-interface==7.2 ; python_version >= "3.12" and python_version < "3.14"
