/* Ensure modal itself can grow to take up most of the screen */
.driver-modal-content {
    max-height: 90vh;
    /* Maximum height of 90% of viewport */
    height: auto;
    /* Allow the height to auto-expand if content is smaller */
    overflow: hidden;
    /* Prevent overflow */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    /* background-color: var(--f1-darker); */
    color: var(--f1-text);
}

/* Header remains sticky at the top */
.driver-modal-header {
    /* background-color: var(--f1-dark); */
    color: var(--f1-text);
    border-bottom: 1px solid var(--f1-light-gray);
    position: sticky;
    top: 0;
    z-index: 1055;
    padding: 1rem;
}

.tab-pane {
    height: 60vh;
}

.tab-pane>div {
    height: inherit;
}

.bg-purple {
    background-color: #800080;
}

.hidden-column {
    display: none;
}

.icon-btn {
    background: transparent;
    border: none;
    color: var(--f1-text-secondary);
    font-size: 1.25rem;
    /* Adjust size as needed */
    padding: 0.5rem;
    /* Adds spacing around the icon */
    cursor: pointer;
}

.icon-btn:hover {
    color: var(--f1-text);
}

.tab-content {
    height: 100%;
    width: 100%;
}

.driver-modal-tab-content {
    height: 100%;
    width: 100%;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}