/* Base Class with common properties */
.tyre-icon {
    display: inline-block;
    padding: 4px;                /* Space around the letter */
    border-radius: 50%;           /* Makes it circular */
    text-align: center;           /* Centers the text inside */
    line-height: 1;               /* Ensures vertical centering */
    min-width: 30px;              /* Minimum width for the circle */
    min-height: 30px;             /* Minimum height for the circle */
    font-weight: bold;            /* Make the letter bold */
}

/* Derived classes with specific border colors */

.soft-tyre {
    border: 3px solid #FF0000;    /* Blue border color */
}

.medium-tyre {
    border: 3px solid #F7E700;    /* Red border color */
}

.hard-tyre {
    border: 3px solid #FFFFFF;    /* Green border color */
}

.intermediate-tyre {
    border: 3px solid #66FF66;    /* Yellow border color */
}

.wet-tyre {
    border: 3px solid #0061F2;    /* Purple border color */
}

.supersoft-tyre {
    border: 3px solid #800080;
}